/*
Style File for EDT site

*/

:root {
    --background-image: url('https://empezeeet.github.io/empezet-theme/background/RGB-visualizer.jpg' );
}
html {
    scroll-behavior: smooth;
    
   
    margin: 0px;
    height: 100%;
    width: 100%;
    color: #000;
    
}
body {
    background-color:  rgba(18, 18, 18, 1); 
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0 auto;
    padding: 0 5%;
    clear: both;
    overflow-x: none; 
    
   
    min-height: 100%;
    width: 100%;
    
                    
    
    
    

}
h1 {
    color: white;
    text-align: center; 
}
h2 {
    color: white;
    text-align: center;
}
a:link, a:visited { 
    color: rgb(114,160,231);
}
h3 {
    color: white;
    text-align: center;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
   
}
.zoom {
    padding: 1px;
    background-color: transparent;
    transition: transform .2s;
    margin: 0 auto;
}

.zoom:active {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    
}
.widget {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    left: 40%;
}


.inputType-email {
    color: #fff;
    border-radius: 5px 5px 5px 5px;
    background-color: rgba(255, 255, 255, 0.0);
    zoom: 1.2;
    
}

.inputTybe-Message {
    border-radius: 5px 5px 5px 5px;
    resize: none;
    
    background-color: rgba(255, 255, 255, 0.0);
    zoom: 1.2;
    width: 162px;
    color: white;

}
.inputTybe-Message::selection {
    background-color: whitesmoke;
}
.imageVS-image {
    float: left;
    width: 49%;
    padding: 5px;
}
.imageVS::after {
    content: "";
    clear: both;
    display: table;
    
}
.Help-Form {
    margin: 0 auto; 
    width: 200px;
    zoom: 1.5;
}