/**
* @name Emtezet
* @version 1.1.6
* @description Empezeeet theme based on Neutron8 with addons (Addons on GitHub)
* @author Empezeeet
* @invite 
* @source https://www.youtube.com/watch?v=iik25wqIuFo
*/
@import url("https://codedotspectra.github.io/themes/themes-cores/neutron8.css");
@import url('https://discordstyles.github.io/RadialStatus/dist/RadialStatus.css');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans');
/*REVERT REBRAND*/
    @import url('https://Goose-Nest.github.io/GT-RevertRebrand/src/variables.css');
    @import url('https://Goose-Nest.github.io/GT-RevertRebrand/src/hardcoded.css');
    @import url('https://Goose-Nest.github.io/GT-RevertRebrand/src/components/mentions.css');
    @import url('https://Goose-Nest.github.io/GT-RevertRebrand/src/components/reactions.css');
    @import url('https://Goose-Nest.github.io/GT-RevertRebrand/src/components/pfps.css');
    @import url('https://Goose-Nest.github.io/GT-RevertRebrand/src/components/folders.css');
    @import url('https://Goose-Nest.github.io/GT-RevertRebrand/src/components/wordmark.css');
    @import url('https://Goose-Nest.github.io/GT-RevertRebrand/src/general/bd.css');
    @import url('https://Goose-Nest.github.io/GT-RevertRebrand/src/general/inputs.css');
    @import url('https://Goose-Nest.github.io/GT-RevertRebrand/src/general/svgs.css');
    @import url('https://Goose-Nest.github.io/GT-RevertRebrand/src/general/other.css');
/*@import url(https://mwittrien.github.io/BetterDiscordAddons/Themes/ServerColumns/ServerColumns.css);*/
/* @import url(https://capnkitten.github.io/BetterDiscord/Themes/Spotify-Discord/css/source.css);  */   
@import url('https://mr-miner1.github.io/Better-Badges/src/badges.css');

:root {
        
        --backgroundImage: var(--backgroundImage-SpaceX);

                                            /**Themes**/

        /*Deafult*/--backgroundImage-Deafult: url(https://empezeeet.github.io/empezet-theme/background/wallpaperflare.com_wallpaper.jpg);
        /*RGBwindows*/--backgroundImage-RGBwindows: url(https://empezeeet.github.io/empezet-theme/background/wallpaper_RGBwindows.jpg);
        /*Antman*/--backgroundImage-Antman: url(https://empezeeet.github.io/empezet-theme/background/wallpaper_antman.jpg);
        /*Apple2*/--backgroundImage-Apple2: url(https://empezeeet.github.io/empezet-theme/background/wallpaper_apple2.jpg);
        /*Apple1*/--backgroundImage-Apple1: url(https://empezeeet.github.io/empezet-theme/background/wallpaper_apple1.jpg);
        /*Discord_Brillance*/--backgroundImage-Discord_Brillance: url(https://empezeeet.github.io/empezet-theme/background/wallpaper_discord_brillance.jpg);
        /*DrStrange*/--backgroundImage-DrStrange: url(https://empezeeet.github.io/empezet-theme/background/wallpaper_drStrange.jpg);
        /*Groot*/--backgroundImage-Groot: url(https://empezeeet.github.io/empezet-theme/background/wallpaper_groot.jpg);
        /*IronMan*/--backgroundImage-IronMan: url(https://empezeeet.github.io/empezet-theme/background/wallpaper_ironman.jpg);
        /*SpaceX*/--backgroundImage-SpaceX: url(https://empezeeet.github.io/empezet-theme/background/wallpaper_spaceX.jpg);
        /*Star*/--backgroundImage-Star: url(https://empezeeet.github.io/empezet-theme/background/wallpaper_star.jpg);
        /*StarWars*/--backgroundImage-StarWars: url(https://empezeeet.github.io/empezet-theme/background/wallpaper_starwars.jpg);
        /*StarWars1*/--backgroundImage-StarWars1: url(https://empezeeet.github.io/empezet-theme/background/wallpaper_starwars1.jpg);
        /*Vader*/--backgroundImage-Vader: url(https://empezeeet.github.io/empezet-theme/background/wallpaper_vader.jpg);
        /*Vader2 WARNING: HIGH QUALITY IMAGE! CAN AFFECT DISCORDAPP PERFORMANCE*/--backgroundImage-Vader2: url(https://empezeeet.github.io/empezet-theme/background/wallpaper_vader2.jpg);

        /*Custom1*/--backgroundImage-Custom1: url();
        /*Custom2*/--backgroundImage-Custom2: url();
        /*Custom3*/--backgroundImage-Custom3: url();




    --backgroundPosition: fill;
    --backgroundSize: cover;
    --backgroundRepeat: no-repeat;
    --backgroundBlur: 0px;
    --backgroundOpacity: 0.2;
}












:root {
    --badge-size: 22px; /*discord defualt = 18px, theme defualt = 22px;*/
    --badge-margin: 1.5px; /*discord default = 2px, theme defualt = 1.5px*/
    --badges-everywhere-size: 15px; /*default = 15px*/
    --columns:			1;							/* default:	3					(amount of servercolumns)																		*/
	--guildsize:		50;							/* default:	50					(serversize in pixel)																			*/
	--guildgap:			3;							/* default:	3					(top/bottom gap between servers in pixel)														*/
	--aligndms:			1;
    --input-color: rgba(255, 255, 255, 0.02);
    --bar-color: rgba(0, 5, 10, 0);
    --homeImage: url('https://empezeeet.github.io/empezet-theme/img/HomeButtonImage.jpg');
    --themeColor1: transparent/*#1db954*/;
    --themeColor2: transparent/*#5680d4*/;
    --customFont: 'Open Sans';
    --homeImageSize: cover;
    --backgroundColor: rgba(1,1,1,1)/*rgba(9, 9, 10, 1)*/;
    --rs-small-spacing: 2px;
    --rs-medium-spacing: 3px;
    --rs-large-spacing: 4px;
    --rs-small-width: 2px;
    --rs-medium-width: 3px;
    --rs-large-width: 4px;
    --rs-avatar-shape: 50%;
    --rs-online-color: #0fe484;
    --rs-idle-color: #ffa200; 
    --rs-dnd-color: #ce1c1c;
    --rs-offline-color: #636b75;
    --rs-streaming-color: #643da7;
    --rs-invisible-color: #222529FF;
    --rs-phone-visible: block;
    --input-text-color: rgb(225, 225, 225);
}












/*TEST*/
.peopleListItem-2nzedh {
    background-color: transparent;
    visibility: visible;

}


.wrapper-1BJsBx, .wrapper-1BJsBx.selected-bZ3Lue, .homeIcon-AaowEC, .childWrapper-anI2G9 {
    
    color: white;
    background-image: var(--homeImage);
    visibility: visible;
}






/*
*                       BOT TAGS 
*/
.botTag-3W9SuW.botTagRegular-2HEhHi.botTag-2WPJ74.px-10SIf7 {
    background: rgba(30, 190, 80, 0.75);

}
.botTagCozy-1fFsZk.botTag-1un5a6.botTagRegular-2HEhHi.botTag-2WPJ74.rem-2m9HGf {
    background: rgba(30, 190, 80, 0.75);
}

/*
*                       Links and Selection
*/
::selection {
	color: whitesmoke;
	background: skyblue;
}

a:hover {
	color: skyblue;
}




/*
*                       REST (xd)
*/


.sprite-2iCowe { /*EMOJI*/
    visibility: hidden;

}



/*Start Page*/
.container-1D34oG {
    background-color: transparent;
    
}


/*Animations*/

    @keyframes backdrop-animation {
        0% {backdrop-filter: hue-rotate(10deg);}
        5% {backdrop-filter: hue-rotate(20deg);}
        10% {backdrop-filter: hue-rotate(30deg);}
        15% {backdrop-filter: hue-rotate(40deg);}
        20% {backdrop-filter: hue-rotate(50deg);}
        25% {backdrop-filter: hue-rotate(60deg);}
        30% {backdrop-filter: hue-rotate(70deg);}
        35% {backdrop-filter: hue-rotate(80deg);}
        40% {backdrop-filter: hue-rotate(90deg);}
        45% {backdrop-filter: hue-rotate(100deg);}
        50% {backdrop-filter: hue-rotate(90deg);}
        55% {backdrop-filter: hue-rotate(80deg);}
        60% {backdrop-filter: hue-rotate(70deg);}
        65% {backdrop-filter: hue-rotate(60deg);}
        70% {backdrop-filter: hue-rotate(50deg);}
        75% {backdrop-filter: hue-rotate(40deg);}
        80% {backdrop-filter: hue-rotate(30deg);}
        85% {backdrop-filter: hue-rotate(20deg);}
        90% {backdrop-filter: hue-rotate(10deg);}
        95% {backdrop-filter: hue-rotate(10deg);}
        100% {backdrop-filter: hue-rotate(0deg);}
    }




    
    @keyframes nsfw_animation {
         from { 
            
            background-color: rgba(206, 28, 28, 0.2);
        }
        50% {
            background-color: rgba(206, 28, 28, 1);
            
        }
        to {
            background-color: rgba(206, 28, 28, 0.2);
        }
    }
    @keyframes unreaded_channel{
        from {
            background-color: rgba(240, 248, 255, 0);
        }
        
        50% {
            background-color: rgba(255, 39, 60, 0.2)
        }

       
        
        to {
            background-color: rgba(240, 248, 255, 0);
        }
        
    }
    @keyframes rgbChange_bg {
        0% { background-color:   rgba(60,15,86, .5);}
        10% { background-color:  rgba(160,15,86, .5);}
        20% { background-color:  rgba(50,215,86, .5);}
        30% { background-color:  rgba(90,15,186, .5);}
        40% { background-color:  rgba(200,215,86, .5);}
        50% { background-color:    rgba(260,15,186, .5);}
        60% { background-color:    rgba(150,125,286, .5);}
        70% { background-color:  rgba(220,155,186, .5);}
        80% { background-color:  rgba(190,185,86, .5);}
        90% { background-color:    rgba(10,165,286, .5);}
        100% { background-color: rgba(60,15,86, .5);}
      
    }
    @keyframes rgbChange {
        0% {  color:   rgba(60,15,86, .8);}
        10% { color:  rgba(160,15,86, .8);}
        20% { color:  rgba(50,215,86, .8);}
        30% { color:  rgba(90,15,186, .8);}
        40% { color:  rgba(200,215,86, .8);}
        50% { color:    rgba(260,15,186, .8);}
        60% { color:    rgba(150,125,286, .8);}
        70% { color:  rgba(220,155,186, .8);}
        80% { color:  rgba(190,185,86, .8);}
        90% { color:    rgba(10,165,286, .8);}
        100% { color: rgba(60,15,86, .8);}
      
    }

    @keyframes notification_red{
        from {
            background-color: rgba(255, 39, 60, 0.2);
        }
        
        50% {
            background-color: rgba(255, 39, 60, 1)
        }

       
        
        to {
            background-color: rgba(255, 39, 60, 0.2);
        }
        
    }

    

    

    
        
/*Animations*/


.containerDefault--pIXnN.selected-37j_iU .modeSelected-346R90 .content-1x5b-n, .containerDefault--pIXnN.selected-37j_iU .modeSelected-346R90:hover .content-1x5b-n, .modeSelected-346R90 .content-1x5b-n, .modeSelected-346R90:hover .content-1x5b-n {
    /*Selected channel*/
    border-radius: 10px 10px 10px 10px;
    background-color: rgba(255, 200, 255, .2);
    
}
.iconVisibility-sTNpHs.wrapper-2jXpOf.modeUnread-1qO3K1 {
    /*Nie odczytany kanał*/
    border-radius: 10px 10px 10px 10px;
    animation-name: unreaded_channel;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}


.contextMenuNub-3yOOYo.colorable-1bkp8v.primaryDark-3mSFDl {
    visibility: hidden;
    /*MINI-context menu on Voice chat */
}

.controlButton-2MhVEL.centerButton-3CaNcJ.colorable-1bkp8v.primaryDark-3mSFDl.button-38aScr.lookBlank-3eh9lL.colorBrand-3pXr91.grow-q77ONN {
    
    pointer-events: none;

}




.text-1y-e8- {
    visibility: hidden;
}


.cooldownWrapper-3joyFc {
    /*Cooldown text*/
    visibility: visible;
    position: absolute;
    right: 30%;
    
    
    background-color: rgba(206, 28, 28, 0);
}
.typing-2GQL18.base-gE7OpD {
    background-color: rgba(255, 255, 255, 0);
    
}



.buttonWrapper-1ZmCpA { /*Stickers, GIFs, Nitro*/
    background: rgba(255, 255, 255, 0);
    color:      rgba(255, 255, 255, 0);
    position: relative;
    visibility: hidden;
    right: -15px;
    
}
                        /*Avatar mini (bottom-left corner)*/
.avatarWrapper-2yR4wp {
    visibility: visible;
    position: relative;

    
    zoom: 1.25;
    left: 151px;
    bottom: 0px;
    width: 25px;
    
    
}



.avatarWrapper-2yR4wp:active~.nameTag-3uD-yy {
    display: block;
}


/*CHAT COMMANDS, USERS POPUT*/
    .autocompleteInner-zh20B_.wrapper-1CvDB0 {
        
        backdrop-filter: blur(50px);
    }
    .rail-2CbP6L.wrapper-uf3cnO {
        background: transparent;

    }



.nameTag-3uD-yy.canCopy-2VBT7N {
    visibility: hidden;
    position: absolute;
    zoom: 2.5;
    left: 7px;
    bottom: 37px;

    display: none;
    

}

.flex-1xMQg5.flex-1O1GKY.horizontal-1ae9ci.horizontal-2EEEnY.flex-1O1GKY.directionRow-3v3tfG.justifyStart-2NDFzi.alignCenter-1dQNNs.noWrap-3jynv6.connection-3KRENF   {
    visibility: hidden;
}
.button-14-BFJ.enabled-2cQ-u7.button-38aScr.lookBlank-3eh9lL.colorBrand-3pXr91.grow-q77ONN {
    visibility: visible;
    

}








.size14-e6ZScH.title-eS5yk3 {
    /*napis co streamujesz*/
    
    visibility: hidden;
    
    
}

.gameIconWrapper-1YByCI {
    visibility: hidden;
}

/*Ktoś pisze*/
.typing-2GQL18.base-gE7OpD.stop-animation {
    visibility: hidden;
}
.icon-3Oovq9 {
    /*description*/
    visibility: visible;
    position: absolute;
    bottom: -87px;
    left: 237px;
    zoom: 1;
    opacity: 25%;
}
.actions-aUdUfC {
    /* guzik do disable stream*/
    position: relative;
    zoom: 1.1;
    top: 18px;
    right: -5px;
    
}

.container-3baos1 {
    /**/
    visibility: visible;
    right: 100px;
    /* background-color: rgba(0, 0, 0, 0.5); */
    border-radius: 0px 0px 15px 15px;

}




.button-14-BFJ.enabled-2cQ-u7.button-38aScr.lookBlank-3eh9lL.colorBrand-3pXr9.grow-q77ONN {
    position: relative;
    top: 48.5px;
    right: 65px;

}

.guildIconContainer-2FW_iA { 
    /*Boost ICON*/
    zoom: 1;

    visibility: visible;

}

.divider-3_HH5L.hasContent-1_DUdQ.divider-JfaTT5.hasContent-1cNJDh {
    /*To cuś co ma date i odzeila czat*/
    visibility: hidden;
}



.button-38aScr.lookBlank-3eh9lL.colorBrand-3pXr91.grow-q77ONN {
    /*guzik do dodawania kanałów do kategorii*/

    
    visibility:hidden;
}

.textArea-12jD-V.textAreaSlate-1ZzRVj.slateContainer-3Qkn2x {
    width: 500px;
    right: -70px;
    overflow-y: none;
    caret-color: red;
    

}
/*
*!           APP BACKGROUND
*/
        .container-2lgZY8 {
            /*App Background*/
            
            /* animation: backdrop-animation 5s ease infinite;
            animation-timing-function: linear; */
            
            
            
        }
.scrollableContainer-2NUZem.webkit-HjD9Er {
    /*CHAT INPUT (BLOCK)*/
    background-color: rgb(255, 255, 255, 0.1);
    overflow-y: disabled;
    
}


.placeholder-37qJjk.fontSize18Padding-2RUesG {
    /*Chat input Placeholder*/
    position: relative;
    width: 1000px;
    caret-color: red;
}






.button-38aScr.lookBlank-3eh9lL.colorBrand-3pXr91.grow-q77ONN {
    /*MUTE, MUTE SOUND, SETTINGS, KRISP, DISCONNECT BUTTONS*/
    
    position: relative;
    right: 37px;
    
    width: 30px;
    
    bottom: -5px;
    zoom: 1;
    
}


.inner-MADQqc.sansAttachButton-td2irx {
    /*TEXT PLACEHOLDER w chat-input*/
    margin-left: -80px;
    overflow-y: hidden;
    
    
}


.flex-1xMQg5.flex-1O1GKY.horizontal-1ae9ci.horizontal-2EEEnY.flex-1O1GKY.directionRow-3v3tfG.justifyStart-2NDFzi.alignStretch-DpGPf3.noWrap-3jynv6.button-14-BFJ.enabled-2cQ-u7.button-38aScr.lookBlank-3eh9l.colorBrand-3pXr91.grow-q77ONN {
    position: relative;
    background-color: yellow;
    color: yellow;
    top: 100px;

}



.actionButtons-14eAc_ {
    /*CAMERA & STREAM buttons*/
    position: absolute;
    bottom: -66px;
    right: 10px;
    zoom: 1;
    
    
    width: 96%;
    /* background-color: rgba(0, 0, 0, 0.5); */
    border-radius: 15px 15px 0px 0px;

    
}



.tabBody-3YRQ8W {
    background: transparent;
    background-color: transparent;
    color: transparent;
}



.container-1giJp5 {
    /*Start Stream, Camera buttons*/
    position: relative;
    bottom: 30px;
    background-color: rgba(0, 0, 0, 0);
    background-image: none;
    background: transparent;

    
     /* background-color: yellow;  */
}

.panels-j1Uci_ {
    /*Obszar użytkowniaia*/
    background-color: rgba(0, 0, 0, 0);
    background-image: none;
    background: transparent;
    position: relative;
    
    
    
    
    
    
    
}

.wrapper-24pKcD {
    /*START STREAM, CAMERA, DISCONNECT and KRISP buttons*/
     /* background-color: blue; */ 
    
    bottom: 36px;
    width: 250px;
    
    background-color: transparent;
    background-image: none;
    background: transparent;
        
}

.flex-1xMQg5.flex-1O1GKY.horizontal-1ae9ci.horizontal-2EEEnY.flex-1O1GKY.directionRow-3v3tfG.justifyStart-2NDFzi.alignCenter-1dQNNs.noWrap-3jynv6.connection-3KRENF {
    /*Disconnect and KRISP buttons*/
    
    
    background-color: yellow;
    position: relative;
    left: 138px;
    width: 0;
    bottom: -142px;
    

    transform: rotate(-90deg); 
    zoom: 1;
        
}




                        /*POPOUTS*/

/*STATUS PICKER */
    
    #popout_41 {
        position: absolute;
        top: 600px;
        border-radius: 50px 15px 15px 15px;
    }
    #popout_43 {
        position: absolute;
        top: 600px;
        border-radius: 50px 15px 15px 15px;
    }

#status-picker {
    background-color: #08040c;
}

#peopleColumn-29fq28 {
    background: transparent;
}
#popout_637 {
    visibility: hidden;
}
/*USER PROFILE POPOUT*/
    .userPopout-xaxa6l { /*Main*/
        backdrop-filter: blur(45px); 
        background-color: rgba(255, 255, 255, 0.025);
    } 
    .bodyInnerWrapper-26fQXj {
        background: transparent;
    }
    .note-1oo11U {
        /*notka*/
        background: transparent;
    }
    .footer-3UKYOU {
        background: transparent;
    }
    /*FULL PROFILE*/
        .topSection-y3p-_D {
            backdrop-filter: blur(10px);
            background: transparent;
            background-color: rgba(255, 255, 255, 0.025);
        }
        .body-r6_QPy {
            background: transparent;
            backdrop-filter: blur(10px);
            background-color: rgba(255, 255, 255, 0.025);
            
        }
    


    
    
    


.peopleList-3c4jOR.auto-Ge5KZx.scrollerBase-289Jih {
    background: transparent;
}


.scroller-3BxosC.thin-1ybCId.scrollerBase-289Jih {
    color: #08040c;
    background-color: #08040c;

}

.button-1YfofB.buttonColor-7qQbGO.button-38aScr.lookFilled-1Gx00P.colorBrand-3pXr91.sizeSmall-2cSMqn.grow-q77ONN.button-1YfofB
{
    vertical-align: top;
    left: -2%;
    background-color: none;
    
    
}



.panel-24C3ux.activityPanel-28dQGo {
    position: relative;
    top: 85px;
}

.viewers-2Dq-Mk.leftTrayIcon-1mCY9j {
    position: relative;
    left: -80px;
}

.layer-v9HyYc.disabledPointerEvents-1ptgTB {
    /*End Stream popout */
    visibility: visible;
    
}

.full-motion.disable-high-contrast.theme-dark.platform-win.a11y-font-scaled-up.font-size-18 {
    background-color: rgba(0, 0, 0, 0.5);

}

.viewer-sEl8Uz.wrapper-3t9DeA {
    position: relative;
    left: -50px;
}

.wrapper-3EGhDO {
    visibility: visible;
    bottom: -500px;
}



.rightTrayIcon-3hFoUP.button-38aScr.lookBlank-3eh9lL.colorBrand-3pXr91.grow-q77ONN {
    bottom: -500px;
}

.container-3u944p {
    /*Skrzynka odbiorcza*/
    background-color: #181818 ;
}

.header-2-Imhb .header-ykumBX {
    /*Skrzynka Odbiorcza h1*/
    background-color: #181818;
}

.circleIconButton-1XqULR.circleButtonBase-33sh5_ {
    /*Dodaj Server, Discover Buttons*/
    background-color: rgba(0, 0, 0, 0);
    color: rgba(204, 201, 203, 1)

    
}
.circleIconButton-1XqULR.circleButtonBase-33sh5_:hover {
     animation: rgbChange 2.5s ease infinite; 
}


.bar-30k2ka.unreadBar-3t3sYc.unread-1xRYoj.active-1SSsBb {
    /*Nowe nieprzecztane wiadomości GÓRA i DÓŁ*/
    color: #e3e7e6;
    

}

.inputField-aNPXsv {
    /*Input text*/
    color: whitesmoke;
}
/*Server Boost plans*/
    
    .perksModalContentWrapper-2HU6uL {
        background-color: transparent;
    }
    .closeButton-1tv5uR {
        visibility: visible;
        
    }

/*Threads*/
    .browser-2NpbWS.container-7uh5fX {
        background-color: rgba(0, 0, 0, 0.95);
    }
    .header-1VS4tm {
        background-color: rgba(0, 0, 0, 0.95);
    }

    /*Make New Thread*/
        .threadSidebar-1o3BTy {
            background-color: rgba(0, 0, 0, 1);
        }


.barFill-23-gu- {
    background-color: var(--rs-online-color);
}


.section-2gLsgF {
    background-color: black;
}


.controlButton-2MhVEL.centerButton-3CaNcJ.colorable-1bkp8v.red-33-Lnk.button-38aScr.lookBlank-3eh9lL.colorBrand-3pXr91.grow-q77ONN {
   /*DISCONNECT / STOP WATCHING BUTTON ON VOICE CHANNEL PANEL*/
    visibility: visible;
    width: 50px;
    zoom: 1;
    position: absolute;
    left: 540px;
    bottom: -40px;
    
    


}





.channelIcon-1MN1lz {
    position: relative;
    top: 5px;

}

.avatarSpeaking-2c8-9i {
    visibility: hidden;
}

.nameAndDecorators-5FJ2dg {
    /*Nazwa użytkownika w member list*/
    margin-bottom: 2px;
}

.callContainer-36WRfH.theme-dark {
    /*Call background*/
    background-color: transparent;
    color: transparent;
}

.actionButton-3CLkPB.centerButton-3CaNcJ.colorable-1bkp8v.red-33-Lnk.button-38aScr.lookBlank-3eh9lL.colorBrand-3pXr91.grow-q77ONN {
    visibility: visible;
    width: 50px;

}

.role-2irmRk.flex-1O1GKY.alignCenter-1dQNNs {
    /*ROLE IN MINI-PROFILE*/
    background-color: rgba(0, 0, 0, 0.25);
}

.primaryButton-2BsGPp.gutter-15v0rO.button-38aScr.lookFilled-1Gx00P.colorBrand-3pXr91.sizeXlarge-2yFAlZ.grow-q77ONN {
    /*YES Button*/
    background-color: #0fe484;
}

.colorStandard-2KCXvj.size14-e6ZScH.h2-2gWE-o.title-3sZWYQ.defaultColor-1_ajX0.title-18-Ds0.marginBottom20-32qID7.marginTop8-1DLZ1n {
    /*'WAIT' text on label that asks you do you want to go to this page?*/
    color: #ce1c1c;
    zoom: 1.2;
}

.wrapper-3qSb0d {
    /*Server boost plans page*/
    background-color: transparent;
}

.navigationBar-2JJXBp {
    /*Server boost plans page navigation bar*/
    background-color: transparent;
    background: transparent;
    color: transparent;
}

.titleContainer-2CXtJo.titleElevated-c_kdi7, .titleContainer-2CXtJo, .header-2mZ9Ov{
    /*ALL ROLES HEADER*/
    background-color: transparent;
}

.header-2mZ9Ov.stickyHeader-hH_ZLl {
    /*ROLE SETTINGS HEADER*/
    background-color: rgba(0, 0, 0, 0.75);
    border-radius: 0px 0px 15px 15px;
    backdrop-filter: blur(25px);

}

.dot-2s_oHI {
    /*Server Template Dot*/
    animation: notification_red 2.5s ease infinite;
}

.avatarUploaderInner-3UNxY3.avatarUploaderInnerSquare-1VbIoA.avatarUploaderInnerSquareDisabled-2Cz_em {
    /*Upload server banner*/
    background-color: rgba(47, 49, 54, 1); /*?Deafult Discord background color*/
}

.anchor-3Z-8Bb.anchorUnderlineOnHover-2ESHQB.removeButton-1hcZyG:hover {
    /*Remove button below invite background*/
    color: #ce1c1c;
}

.descriptionWrapper-1GiGtP, .inputDefault-_djjkz.input-cIJ7To.textArea-1Lj-Ns.scrollbarDefault-3COgCQ.scrollbar-3dvm_9.descriptionInput-3b30C8 {
    /*SERVER WELCOME DESCRIPTION*/
    border-radius: 15px 15px 15px 15px;


}



.textBadge-1iylP6.base-PmTxvP.baseShapeRound-1Mm1YW {
    /*Better NSFW Tag*/
    color: white;
}
/*Unread message*/
    .unreadPill-2HyYtt {
        background-color: rgba(240, 71, 71, 1);
        border-radius: 10px 10px 10px 10px;
        text-align: center;
        width: 50px;
        
    }

    .unreadPillCap-3_K2q2 {
        text-align: center;
    }
/*Create new server*/
    .container-1CE3eW {
        background-color: black;
    }
    .container-UC8Ug1 {
        background-color: rgba(255, 255, 255, 0.1);;
        
    }
    .footerTitle-2CYZch.fontDisplay-1dagSA.base-1x0h_U.size20-17Iy80 {
        color: white;
    }
    .title-3w8xhj.fontDisplay-1dagSA.base-1x0h_U.size24-RIRrxO {
        color: white;
    }
    .footerButton-ayFTfX.button-38aScr.lookFilled-1Gx00P.colorGrey-2DXtkV.sizeMedium-1AC_Sl.grow-q77ONN {
        background-color: rgba(255, 255, 255, 0.1);
    }
    .colorStandard-2KCXvj.size16-1P40sf.text-1FOLJS {
        color: white;
    }
    .colorHeaderSecondary-3Sp3Ft.size16-1P40sf.subtitle-Nw1LLR 
    {
        color: white;
    }


.emptyChannelIcon-cc932w:hover, .iconWrapper-L3hQuc:hover {
    /*First message Icon on channel -- hover*/
    visibility: visible;
    animation: rgbChange_bg 3s ease infinite;
    
}

.emptyChannelIcon-cc932w {
    /*First message Icon on channel*/
    background-color: transparent;
}

.iconWrapper-2OrFZ1:hover {
    /*Channel typeIcon*/
    visibility: visible;
    animation: rgbChange_bg  3s ease infinite;
    border-radius: 10px 10px 10px 10px;
}

.contents-18-Yxp.giftButton-2uAsFo{
       color: black;
}

#popout_53 {
    /*Status Picker*/
    position: relative;
    top: 600px;
}


.circleIconButton-hZmpE8, .circleIconButton-hZmpE8.selected-3mFF3I {
    color: blue;
    background-color: yellow;
    
}
.wrapper-25eVIn {
    color: blue;
    backdrop-filter: blur(50px);
}

.flex-1xMQg5.flex-1O1GKY.horizontal-1ae9ci.horizontal-2EEEnY.flex-1O1GKY.directionRow-3v3tfG.justifyStart-2NDFzi.alignCenter-1dQNNs.noWrap-3jynv6.header-1TKi98.header-2MrRa6.separator-2-RRj_ {
    background-color: transparent;

}

.content-1LAB8Z.content-1SXGsJ.thin-1ybCId.scrollerBase-289Jih {
    /*Events*/
    background-color: transparent /*#202225*/;
    border-radius: 
    0px 0px;
}

.select-2fjwPw.searchable-1Zl-ns.select-QHUX8_.lookFilled-22uAsw {
    background-color: black;
    
}

.content-1LAB8Z.contentContainer-1f7Gvv.thin-1ybCId.scrollerBase-289Jih {
    background-color: black;
}

.button-35J-bp.button-38aScr.lookFilled-1Gx00P.colorGrey-2DXtkV.sizeSmall-2cSMqn.grow-q77ONN {
    background-color: rgba(32, 32, 32, 1);
}
.button-35J-bp.button-38aScr.lookOutlined-3sRXeN.colorPrimary-3b3xI6.borderGrey-w8_7oO.sizeSmall-2cSMqn.grow-q77ONN {
    background-color: rgba(32, 32, 64, 1);
}

.timestamp-1Dd_pn {
    background-color: rgba(255, 255, 255, 0.05);
}

.progressBarContainer-DLPbha.bar-1lIEUi {
    background-color: rgba(0,0,0,0);
}

.addButton-3bLyEA.forceVisible-2L54of.button-38aScr.lookBlank-3eh9lL.colorBrand-3pXr91.grow-q77ONN {
    visibility: visible;
    position: relative;
    left: 50%;
    top: 10%;
}


/*Channel topic and name popout*/
    .content-1LAB8Z.content-2CeOl_.selectable.thin-1ybCId.scrollerBase-289Jih {
        /*Content*/
        background-color: rgb(22, 23, 26);
        border-radius: 0px 0px 15px 15px;
    }
    .flex-1xMQg5.flex-1O1GKY.horizontal-1ae9ci.horizontal-2EEEnY.flex-1O1GKY.directionRow-3v3tfG.justifyStart-2NDFzi.justifyBetween-2tTqYu.noWrap-3jynv6.header-1TKi98 {
        /*Header*/
        background-color: rgb(22, 23, 26);
        border-radius: 15px 15px 0px 0px;
    }


.grid-1nZz7S {
    background-color: rgb(22, 23, 26);
    
}
.tooltipContent-bqVLWK {
    background-color: rgb(22, 23, 26);
    border-radius: 15px 15px 15px 15px;
    position: relative;
    
}


.newMessagesBar-265mhP.barBase-1c2Rfb {
    /*New message popout on top of chat area*/
    background-color: rgb(51, 0, 0)
}

.contents-18-Yxp.giftButton-2uAsFo {
    color: rgb(126, 126, 126);
}
.contents-18-Yxp.premiumSubscribeButton-3TowJw {
    color: black
}
.contents-18-Yxp.giftButton-2uAsFo {
    background-color: black;
}




